<%- include("../partials/header")%>
<%- include("../partials/navbar")%>
<form action='/cohorts/<%=cohort.id%>/edit' method="post">
    <input type='hidden' name='_method' value='PATCH'>
    <%- include("./partials/formInputs")%>
</form>
<%- include("../partials/footer")%>